<%- include('../partials/header'); -%>

<div class="container">
	<div class="row">
		<h1 style="text-align:center">Edit Patient <%=patient.pname%></h1>
		<div style="width:30% ;margin:25px auto ">

			<form action="/editPatient/<%=patient._id%>?_method=PUT" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" value="<%=patient.pname%>" name="patient[pname]">
			</div>
			<div class="form-group">
				<input class="form-control" type="number" value="<%=patient.page%>" name="patient[page]" step="1">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" value="<%=patient.pgender%>" name="patient[pgender]">
			</div>
			<div class="form-group">
				<input class="form-control" type="email" value="<%=patient.pemail%>" name="patient[pemail]">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" value="<%=patient.paddr%>" name="patient[paddr]">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">submit</button>
			</div>
				
				
				
	
			</form>
			<a href="/getPatient">Go back!</a>
		</div>


	</div>

</div>




<%- include('../partials/footer'); -%>